<div xmlns:th="http://www.thymeleaf.org">
	<div style="margin-top: 165px" id="carouselExampleIndicators" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="0" class="active" aria-current="true"
				aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="3" aria-label="Slide 4"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="4" aria-label="Slide 5"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide-to="5" aria-label="Slide 6"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://cf.shopee.sg/file/25bdebc28aa3f8bccf906fe7e5e49a46_xxhdpi
" class="d-block w-100 img-fluid" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
			<div class="carousel-item">
				<img src="https://cf.shopee.sg/file/261e16eed0270f506cfae965a4f285ae_xxhdpi
" class="d-block w-100" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
			<div class="carousel-item">
				<img src="https://cf.shopee.sg/file/f5cf38d13e910dd6e32beb7a9a3c478c_xxhdpi
" class="d-block w-100" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
			<div class="carousel-item">
				<img src="https://cf.shopee.sg/file/cc4218c565bc1925c50ed1e1e34b3e8c_xxhdpi
" class="d-block w-100" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
			<div class="carousel-item">
				<img src="https://cf.shopee.sg/file/180cb9846c4d7e94a663877c373598fa_xxhdpi
" class="d-block w-100" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
			<div class="carousel-item">
				<img src="https://cf.shopee.sg/file/74755cc6f076344571a5f53be56de66e_xxhdpi
" class="d-block w-100" alt="..." style="height: 390px; width: 580px; cursor: pointer">
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>
</div>

